<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>339407470270-mguoot1s02arvndveaufl7ri4ib0gk6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339407470270-mguoot1s02arvndveaufl7ri4ib0gk6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCbPxkwgXH8k2Ei6UYntUX9gHgFEGEJ9PA</string>
	<key>GCM_SENDER_ID</key>
	<string>339407470270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BR.pushNotifications</string>
	<key>PROJECT_ID</key>
	<string>pushnotifications-b8d12</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifications-b8d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339407470270:ios:501ac1d343a77c93</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotifications-b8d12.firebaseio.com</string>
</dict>
</plist>